<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Mine</title>
	
	<!-- 부트스트랩 -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="js/bootstrap.min.js"></script>  
    <script src="./js/bootstrap.min.js"></script>
</head>
<body>
<script>
function statusChangeCallback(response) {
console.log('statusChangeCallback');
console.log(response);
if (response.status === 'connected') {
testAPI();
} 
else if (response.status === 'not_authorized') {
document.getElementById('status').innerHTML = 'Please log ' +'into this app.';
} 
else {
document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
}
}
function checkLoginState() {
FB.getLoginStatus(function(response) {
statusChangeCallback(response);
});
}
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '559732464182981',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.5'
    });
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
function testAPI() {
  console.log('Welcome! Fetching your information.... ');
  FB.api('/me', function(response) {
  console.log('Successful login for: ' + response.name);
  document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
  });
}
FB.login(function(response) {
  if (response.status === 'connected') {
    // 페이스북과 앱에 같이 로그인되어 있다.
  } else if (response.status === 'not_authorized') {
    // 페이스북에는 로그인 되어있으나, 앱에는 로그인 되어있지 않다.
  } else {
    // 페이스북에 로그인이 되어있지 않아서, 앱에 로그인 되어있는지 불명확하다.
  }
});
</script>
<div id="status">
</div>
    <center>
    	<form action="LoginServlet" method="post">
    		<table>
    			<tr height=70 align=center>
    				
    			</tr>
    			<tr height=260>
					<!-- 로고 -->
    				<td align=center><img src="image/logo.png" width=300px height=100px></td>
    			</tr>
    			<tr>
					<!-- 사이트 설명 -->
    				<td><p align="center">mine이란 facebook 계정 연동을 통하여<br>공유하기 기능을 더욱 편리하게 이용할 수 있도록 도와주는 사이트 입니다.</p></td>
    			</tr>
    			<tr height=80 align=center>
    				<td><div 
    				class="fb-login-button" 
    				data-max-rows="1" 
    				data-size="medium" 
            data-show-faces="false" 
            data-auto-logout-link="false"></div></td>
					<!-- 페이스북 연동 로그인 버튼 -->
    			</tr>    		
    		</table>
    	</form>
    </center>
</body>
</html>