<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<title>Mine</title>
		
	<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 사용자 정보(프로필사진, 이름) -->
	<div class="container" style="padding: 10px 0px 0px 0px" align="right">
		<img class="img-rounded" width="30px" height="30px"></img>
		<span>name</span>
	</div>
	<!-- 로고 -->
	<div class="container" style="padding: 10px 0px 0px 0px">
		<img src="image/logo.png" width="150px" height="50px">
	</div>
	
	<div class="container" style="padding: 80px 0px 0px 0px">
			<p><b>카테고리 관리 및 설정</b></p>
	</div>
	
	<div class="container" style="padding: 5px 0px 0px 0px">
		<!-- 카테고리 목록 -->
		<div class="col-md-2" style="padding: 5px 0px 0px 0px">
			<select multiple class="form-control" size = "20px">
				<option></option>
			</select>
		</div>
		
		<div class="col-md-2" style="padding: 40px 0px 0px 0px">
			<p align = "right">카테고리명</p>
		</div>
		
		<div class="col-md-3" style="padding: 40px 0px 0px 10px">
			<input type="text" class="form-control">
		</div>
		
	</div>
</body>
</html>